<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendence!</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div>Robotics Attendence!</div>
    <select id="select">
        <% for(let person of data){ %>
            <option value="<%= person.id %>"><%= person.first %> <%= person.last %></option>
        <% } %>
    </select>
    <button onclick="attend()">I'm here!</button>
    <script>
        function attend(){
            fetch("/attendence", {
                method: "POST",
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({id:document.getElementById("select").value})
            })
            .then((response) => {
                if(response.status == 200){
                    location.reload();
                }
            })
        }
    </script>
</body>
</html>